# Bootstrap
app/bootstrap*
composer*
bin/doctrine
bin/doctrine.php

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
