# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
*~
src/Acme/SpyBundle/Entity/*php~
#web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
